@* @model Notes.Application.Notes.Queries.GetNote.NoteVM *@
@using Notes.Domain
@using Notes.Application.Notes.Queries.GetNote
@model CombineNoteVmFolderListVm;

<link rel="stylesheet" href=@Url.Content("~/css/allnotes/edit-note.css")>

<form class="edit-container" asp-controller="Note">
    <div class="edit-container">
        <div class="header">
            <div class="info-div">
                <span class="note-title">Добавление</span>
            </div>
            <input asp-for="FolderListVm.Folders" type="hidden" value="@Model?.FolderListVm?.Folders">

            <select asp-for="NoteVm.Folder" class="folder-drop">
                <option class="not-add" value="@Guid.Empty">Не добавлять в папку</option>

                @foreach (var folder in Model?.FolderListVm?.Folders)
                {
                    <option class="folder-select" value="@folder.Id">@folder.Name</option>
                }
            </select>

            <div class="func-note">
                <button asp-controller="Note" asp-action="Add" type="submit" class="save-btn">
                    Сохранить
                </button>
            </div>
        </div>

        <div class="text-container">
            <input maxlength="100" type="text" asp-for="NoteVm.Title" class="n-title" placeholder="Введите заголовок">
            <textarea asp-for="NoteVm.Text" class="n-text" cols="20" rows="10" placeholder="Введите текст"></textarea>
        </div>
    </div>
</form>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/allnotes/deleteSelectedNote.js"></script>

<script >
$('.save-btn').click(function(e) {
    if ($('.n-title').val() === '' || $('.n-text').val() === '') {
        e.preventDefault();
        alert('Заполните все поля');
    }
});
</script>