<link rel="stylesheet" href="~/css/login/login.css">

<div class="container">
    <div class="content-container">
        <div class="first-div">
            <span class="title">Вход в аккаунт</span>
            <div class="fields-div">
                <input class="input-field" placeholder="Логин" type="text">
                <input class="input-field" placeholder="Номер телефона" type="text">
                <input class="input-field" placeholder="Пароль" type="text">
            </div>
            <div class="btn-div">
                <input class="login-btn" type="submit" value="Войти">
                <a class="google-btn" href=""><img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" alt=""></a>
            </div>
        </div>
        
        <div class="second-div">
            <div class="picture-div">
                
            </div>
            <div class="reg-btn">
                <input class="login-btn2" type="submit" value="Создать аккаунт">
            </div>
            
        </div>
    </div>
</div>
