@using Notes.MVC.Models.Account

@model LoginViewModel

@{
    ViewData["Title"] = "Вход";
}

<link rel="stylesheet" href=@Url.Content("~/css/login.css")>

<div class="container">
    <div class="picture-container">
        <img class="img" src="~/pictures/login-bkg.svg">
    </div>
    <div class="form-content">
        <form id="forrm" asp-controller="Auth" asp-action="Login" method="post">
            <div class="form">
                <p class="title">Вход в аккаунт</p>
                <span class="title2">Войдите в аккаунт и начните продуктивную работу!</span>
                
                <div class="validation" asp-validation-summary="ModelOnly"></div>

                <div class="input-div">
                    <div class="i" id="login-div">
                        <input asp-for="Login" class="input-form" placeholder="Логин" type="text">
                        <span id="login-error" asp-validation-for="Login"></span>
                    </div>
                    
                    <div class="i" id="login-div">
                        <input asp-for="Password" class="input-form" placeholder="Пароль" type="password">
                         <span id="pass-error" asp-validation-for="Password"></span>
                    </div>
                </div>
                <div class="btn-div">
                    <input onclick="sub()" class="login-btn" type="submit" value="Войти">
                    <a class="reg-btn" asp-controller="Auth" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl">Создать аккаунт</a>
                    <input asp-for="ReturnUrl" type="hidden">
                </div>
            </div>
        </form>
    </div>
    
</div>

<script src=@Url.Content("~/js/anime.js")></script>

<script >
let login = document.getElementById('login-error');
let pass = document.getElementById('pass-error');

window.onload = function(){
    if (document.getElementById('login-error').innerHTML === ""){
        console.log('пустой')
        login.style.display = 'none';
    }

    if (document.getElementById('pass-error').innerHTML === ""){
        console.log('пустой')
        pass.style.display = 'none';
    }

    if(getComputedStyle(login).display != 'none'){
        console.log('fffff')
        anime({
          targets: '#login-error',
          translateX: 300,
          easing: 'easeInOutExpo'
        });
    }

    if(getComputedStyle(pass).display != 'none'){
            console.log('fffff')
            anime({
              targets: '#pass-error',
              translateX: 300,
              easing: 'easeInOutExpo'
            });
        }
}

</script>