@using IdentityModel
@using Notes.Domain

@{
    ViewData["Title"] = "Главная страница";
}

@model CombineNoteFolderViewModel

<link rel="stylesheet" href=@Url.Content("~/css/index/index.css")>
<link rel="stylesheet" href=@Url.Content("~/css/index/panel.css")>
<link rel="stylesheet" href=@Url.Content("~/css/allnotes/context-menu.css")>
<link rel="stylesheet" href=@Url.Content("~/css/allnotes/rename-folder.css")>

<div class="container">
    <div class="side-panel">    

        <div class="dongon">
            <img class="logo" src="~/svg/DonGon-logo.svg" alt="">
        </div>

        <div class="func-block">

            <div class="drop-div">
                <button onclick="myFunction()" class="create-btn">
                    <div class="func-item" id="create-btn">
                        <div class="item-icon">
                            <svg style="width:30px;height:30px" viewBox="0 0 26 24">
                                <path fill="currentColor" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z"/>
                            </svg>
                        </div>
                        <p >Создать</p>
                        <div class="list-icon">
                            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/>
                            </svg>
                        </div>
                    </div>
                </button>
                <div class="dropdown" id="dropdown">
                    
                    
                    @using (Html.AjaxBeginForm("AddPage", "Note", new AjaxOptions
                    {
                        UpdateTargetId = "edit",
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "Get"
                    }, new {}))
                    {
                        <button class="n-c" type="submit">
                            <span class="drop-select" id="note">
                                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                    <path fill="currentColor" d="M3,7V5H5V4C5,2.89 5.9,2 7,2H13V9L15.5,7.5L18,9V2H19C20.05,2 21,2.95 21,4V20C21,21.05 20.05,22 19,22H7C5.95,22 5,21.05 5,20V19H3V17H5V13H3V11H5V7H3M7,11H5V13H7V11M7,7V5H5V7H7M7,19V17H5V19H7Z"/>
                                </svg>
                                Заметку
                            </span>
                        </button>
                    }

                    <hr>

                    <span class="drop-select">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="currentColor" d="M19,19H5V8H19M19,3H18V1H16V3H8V1H6V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5A2,2 0 0,0 19,3M16.53,11.06L15.47,10L10.59,14.88L8.47,12.76L7.41,13.82L10.59,17L16.53,11.06Z"/>
                        </svg>
                        Задачу
                    </span>

                    <hr>

                    <span class="drop-select" onclick="visibleWindow()">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="currentColor" d="M10,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V8C22,6.89 21.1,6 20,6H12L10,4Z"/>
                        </svg>
                        Папку
                    </span>
                </div>
            </div>


            @using (Html.AjaxBeginForm("GetList", "Note",
                new AjaxOptions() {UpdateTargetId = "target", HttpMethod = "get",}, new {id = "form"}))
            {
                <button class="btn" title="Заметки">
                    <div class="func-item" id="button1">
                        <div class="item-icon">
                            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M17,4V10L15,8L13,10V4H9V20H19V4H17M3,7V5H5V4C5,2.89 5.9,2 7,2H19C20.05,2 21,2.95 21,4V20C21,21.05 20.05,22 19,22H7C5.95,22 5,21.05 5,20V19H3V17H5V13H3V11H5V7H3M5,5V7H7V5H5M5,19H7V17H5V19M5,13H7V11H5V13Z"/>
                            </svg>
                        </div>
                        Все заметки

                        <input class="count" type="text" readonly="readonly" value=''>
                    </div>
                </button>
            }

            @using (Html.AjaxBeginForm("GetAllNotes", "AllNotes",
                new AjaxOptions() {UpdateTargetId = "target", HttpMethod = "get",}, new {id = "form"}))
            {
                <button class="btn" title="Напоминания">
                    <div class="func-item" id="button2">
                        <div class="item-icon">
                            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M10 21H14C14 22.1 13.1 23 12 23S10 22.1 10 21M21 19V20H3V19L5 17V11C5 7.9 7 5.2 10 4.3V4C10 2.9 10.9 2 12 2S14 2.9 14 4V4.3C17 5.2 19 7.9 19 11V17L21 19M17 11C17 8.2 14.8 6 12 6S7 8.2 7 11V18H17V11Z"/>
                            </svg>
                        </div>
                        Напоминания
                    </div>
                </button>
            }


            @using (Html.AjaxBeginForm("GetAllNotes", "AllNotes",
                new AjaxOptions {UpdateTargetId = "target"}))
            {
                <button class="btn" title="Задачи">
                    <div class="func-item" id="button3">
                        <div class="item-icon">
                            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M19,4H18V2H16V4H8V2H6V4H5A2,2 0 0,0 3,6V20A2,2 0 0,0 5,22H19A2,2 0 0,0 21,20V6A2,2 0 0,0 19,4M19,20H5V10H19V20M5,8V6H19V8H5M10.56,18.46L16.5,12.53L15.43,11.47L10.56,16.34L8.45,14.23L7.39,15.29L10.56,18.46Z"/>
                            </svg>
                        </div>
                        Задачи
                    </div>
                </button>
            }


            @using (Html.AjaxBeginForm("GetAllNotes", "AllNotes",
                new AjaxOptions {UpdateTargetId = "target"}))
            {
                <button class="btn" title="Корзина">
                    <div class="func-item" id="button4">
                        <div class="item-icon">
                            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M7,6H17V19H7V6M9,8V17H11V8H9M13,8V17H15V8H13Z"/>
                            </svg>
                        </div>
                        Корзина
                    </div>
                </button>
            }
        </div>

        <span class="folder-div-title">Папки</span>
        <div class="folder-divv" id="folder-divv">
            @{await Html.RenderPartialAsync("~/Views/Folders/_FoldersPartial.cshtml", Model.CombineNoteVmFolderListVm.FolderListVm);}
        </div>
        <div class="user-div">
            <div class="user-logo">@User.FindFirst(JwtClaimTypes.Name)?.Value.Substring(0, 1)</div>
            <p class="username">@User.FindFirst(JwtClaimTypes.Name)?.Value
            <div class="exit">
                <form asp-controller="Logout" asp-action="Logout" method="post">
                    <button type="submit" class="exit-btn">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="currentColor" d="M19,3H5C3.89,3 3,3.89 3,5V9H5V5H19V19H5V15H3V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3M10.08,15.58L11.5,17L16.5,12L11.5,7L10.08,8.41L12.67,11H3V13H12.67L10.08,15.58Z"/>
                        </svg>
                    </button>
                </form>
            </div>
        </div>

    </div>

    <div class="content-container" id="target">
        @await Html.PartialAsync("~/Views/Notes/_NotesPartial.cshtml", Model.NoteList)
    </div>

    <div class="edit" id="edit">
        @if (Model?.CombineNoteVmFolderListVm.NoteVm.Title != null)
        {
            await Html.RenderPartialAsync("~/Views/Notes/_NoteEditPartial.cshtml", Model.CombineNoteVmFolderListVm);
            //await Html.RenderPartialAsync("~/Views/Notes/_NoteAddingPartial.cshtml", Model.CombineNoteVmFolderListVm);
        }
        else
        {
            await Html.RenderPartialAsync("~/Views/Notes/_NoSelectedEditPartial.cshtml", Model?.NoteVm);
        }   
    </div>

    <div class="create-folder-background" onclick="hideWindows()">
        <form id="create-folder-form" asp-controller="Folder" asp-action="Add" method="post" onsubmit="return validFolder()">
            
        </form>

        @using(Html.AjaxBeginForm("Add", "Folder", new AjaxOptions()
        {
            OnSuccess = "AddingFolder()",
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "folder-divv",
        }, new {@class = "add-folder-form"}))   
        {
            <div class="create-folder">
                <span class="folder-window-title">Введите название папки</span>
                <input asp-for="Folder.Name" class="folder-input" maxlength="24" type="text">
                <span id="error-span" asp-validation-for="Folder.Name"></span>
                <input class="create-btn-folder" type="submit" value="Создать папку">
            </div>
        }
    </div>

</div>

<div class="context-menu-open-folder" id="context-menu-open-folder">
    <ul>
        <li class="rename-folder">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="currentColor" d="M17,7H22V17H17V19A1,1 0 0,0 18,20H20V22H17.5C16.95,22 16,21.55 16,21C16,21.55 15.05,22 14.5,22H12V20H14A1,1 0 0,0 15,19V5A1,1 0 0,0 14,4H12V2H14.5C15.05,2 16,2.45 16,3C16,2.45 16.95,2 17.5,2H20V4H18A1,1 0 0,0 17,5V7M2,7H13V9H4V15H13V17H2V7M20,15V9H17V15H20Z" />
            </svg>
            Переименовать
        </li>
        <li class="delete-folder-btn-folder">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="currentColor" d="M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19M8,9H16V19H8V9M15.5,4L14.5,3H9.5L8.5,4H5V6H19V4H15.5Z"/>
            </svg>
            Удалить
        </li>
    </ul>
</div>


@using (Html.AjaxBeginForm("Rename", "Folder" ,new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "folder-divv",
    HttpMethod = "post"
}))
{
    <div class="rename-folder-background" id="rename-folder-background">
        <div class="rename-folder-window">
            <span class="folder-window-title">Введите новое название папки</span>
            <input asp-for="Folder.Name" id="folder-name-text" class="folder-input" maxlength="24" type="text">
            <input type="hidden" asp-for="Folder.Id" id="folderId" value="">
            <input class="rename-folder-btn" type="submit" value="Переименовать">
        </div>
    </div>
}

<script>
window.onload = function(){
    // hideWindows();
    // visibleWindow();
    // myFunction();
    // contextMenuFolder();
    // AddingFolder();
    // UpdateURLAdd();
    // contextMenu();
}

$('#note').one('click', function(){
    UpdateURLAdd();
});

// contextMenu();
</script>
