<link rel="stylesheet" href="~/css/header.css">

<div class="header">

    <div class="header-section">
        @* <div class="header-item"> *@
        @*     <input class="header-link" type="submit" value="Все записи"/> *@
        @* </div> *@
    </div>

    <div class="center-section">
        <input class="input-search" type="text" placeholder="Поиск">
    </div>

    <div class="header-section">
        <div class="header-item">
            <input class="header-link" type="submit" value="Все записи"/>
        </div>
        <div class="header-item">
            <div class="user-icon">
                <img src="" alt="">
            </div>
        </div>
    </div>

</div>