<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/> *@
    <link rel="stylesheet" href="~/css/normalize.css">
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/> *@
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>

@* @{ *@
@*     await Html.RenderPartialAsync("_HeaderPartial"); *@
@* } *@

@* <div class="container"> *@
@* <main role="main" class="pb-3"> *@
@RenderBody()
@* </main> *@
@* </div> *@



<script src="~/js/allnotes/anime.min.js"></script>
<script src="~/js/allnotes/dropdown.js"></script>
<script src="~/js/allnotes/contextMenu.js"></script>
<script src="~/js/allnotes/contextMenuFolder.js"></script>
<script src="~/js/allnotes/AddingFolder.js"></script>
<script src="~/js/allnotes/addnote.js"></script>
<script src="~/js/allnotes/checkFields.js"></script>
<script src="~/js/allnotes/counter.js"></script>
<script src="~/js/allnotes/deleteSelectedFolder.js"></script>
<script src="~/js/allnotes/deleteSelectedNote.js"></script>
<script src="~/js/allnotes/dropdown.js"></script>
<script src="~/js/allnotes/folder.js"></script>
<script src="~/js/allnotes/hideWindows.js"></script>
<script src="~/js/allnotes/hoverbtn.js"></script>
<script src="~/js/allnotes/sort-page.js"></script>
<script src="~/js/allnotes/UpdateURLAdd.js"></script>
<script src="~/js/allnotes/UpdateURL.js"></script>
<script src="~/js/allnotes/renameModalWindow.js"></script>
<script src="~/js/allnotes/anyValidation.js"></script>
<script src="~/js/allnotes/notesPartial.js"></script>
<script src="~/js/allnotes/changeFolderUrl.js"></script>
<script src="~/js/allnotes/return.js"></script>


<script src="~/js/site.js" asp-append-version="true"></script>
@Html.RenderUnobtrusiveAjaxScript()
@await RenderSectionAsync("Scripts", required: false)
</body>

<script >
contextMenu();
contextMenuFolder();
</script>

</html>