body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 80%;
    height: calc(100vh);
    background: #ffffff;
}

.picture-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.img{
    width: 90%;
    -webkit-user-select: none;
}

.form-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    /*border-left: 2px solid black;*/
}

.title{
    font-family: "Google Sans";
    width: 100%;
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 0px;
}

.title2{
    font-family: "Google Sans";
    width: 100%;
    font-size: 15px;
    /*font-weight: 500;*/
    margin-bottom: 20px;
    color: #646464;
    margin-top: 5px;
}

.input-div{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 130px;
    justify-content: space-around; 
}

.form{
    display: flex;
    flex-direction: column;
    /*width: 55%;*/
    height: auto;
}

.input-form{
    position: relative;
    z-index: 3;
    width: 95%;
    height: 50px;
    /*margin-bottom: 15px;*/
    background: #ececec;
    border: none;
    border-radius: 7px;
    font-family: "Google Sans", serif;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
    color: #313131;
}

/*.input-form:first-child{*/
/*    border-radius: 7px 7px 0px 0px;*/
/*    !*border-bottom: 1px solid #cecece;*!*/
/*}*/

/*.input-form:last-child{*/
/*    border-radius: 0px 0px 7px 7px;*/
/*    !*border-top: 1px solid #cecece;*!*/
/*}*/

.input-form:focus{
    outline: none;
}

.btn-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.login-btn{
    width: 100%;
    height: 50px;
    border: none;
    background: #6c63ff;
    color: white;
    font-family: "Google Sans", serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: .2s all linear;
}

.login-btn:hover{
    background: #483dff;
    transition: .2s all linear;
}

.btn-div span{
    width: 100%;
    /*text-align: center;*/
    font-family: "Google Sans", serif;
    color: #606060;
    margin-top: 12px;
    margin-bottom: 12px;
}

.reg-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    text-decoration: none;
    background: white;
    outline: 2px solid #6c63ff;
    border-radius: 6px;
    font-family: "Google Sans", serif;
    font-weight: 500;
    color: #6c63ff;
    font-size: 16px;
    margin-top: 10px;
    transition: .2s all linear;
}

.reg-btn:hover{
    outline: 2px solid black;
    color: white;
    background: black;
    transition: .2s all linear;
}

.span .field-validation-error{
    background: red;
}

.i{
    position: relative;
    width: 100%;
}

#login-error{
    position: absolute;
    /*z-index: -1;*/
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background: #fa3636;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Google Sans", serif;
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 13px;
    width: 250px;
}

#pass-error{
    position: absolute;
    z-index: 2;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background: #fa3636;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Google Sans", serif;
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 7px;
    text-align: right;
    font-size: 13px;
    width: 250px;
}